# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [9]:
data = {'國家':['tawian', 'USA', 'Japan'] ,
        '人口': [np.random.randint(100,10000), np.random.randint(100,10000), np.random.randint(100,10000)]}

df = pd.DataFrame(data) # 將data包成DataFrame
df

       國家    人口
0  tawian  1165
1     USA  9977
2   Japan  3087

In [16]:
##每個國家的人口數量  用Groupby函數 去做分類
#method1
df.groupby('人口')['國家'].max()  ##用人口分類完之後，再去針對"國家"這行去做處理 ex: ['國家'].max => 針對人口數量最多的國家去進行排列
df

       國家    人口
0  tawian  1165
1     USA  9977
2   Japan  3087

In [37]:
#method2

#df['人口'].max()
#df['人口'] == df['人口'].max()   # 列出 每個欄位是否最大值 (True or False)
#df[df['人口'] == df['人口'].max()] # 從資料表中 找出"人口欄位最大值"的資料 => df[ 資料判斷  ]
df[df['人口'] == df['人口'].max()]['國家']

1    USA
Name: 國家, dtype: object

In [25]:
#這句程式碼可以分成以下幾塊解析：
#第一，pearson['population'].max() 代表計算出 'population' 的最大值，因此它會是一個整數或浮點數；
#第二，person['population'] == person['population'].max() 代表判斷每個在 population 欄位的值是否為最大值，因此它會求得許多 True 或 False；
#第三，person[person['population'] == person['population'].max()] 代表從 pearson 資料表挑選出「在 population 欄位的值為最大值」的資料；3
#第四，person[person['population'] == person['population'].max()]['country'] 代表從挑選的資料再單獨挑選出 country 欄位。